*.mk
synclib
doc/latex
Makefile
build/
lib/
libsera.so*
examples/*/bin/
examples/*/build/
runagent
.dir-locals.el
tests/*.txt
bin
*~
**.fls
**.fdb_latexmk
**.tex
_minted-devguide
*.lol
*.lot
*.out
*.md
*.toc
*.log
*.aux
